<table width="100%" id="user_form_markup">
  <div class="login-disabled">
    <p>This is the old version of the H2O platform and is now read-only. This means you can view content but cannot create content. If you would like access to the new version of the H2O platform and have not already been contacted by a member of our team, please contact us at  <a href="mailto:h2o@cyber.law.harvard.edu">h2o@cyber.law.harvard.edu</a>. Thank you.</p>
  </div>
</table>
