<% if !current_user || @page_cache -%>
<div id="login-popup" class="standard-form popup">
  <div class="right">
    <div class="login-disabled">
        <h2>User login disabled</h2>
        <p>H2O is now set to read-only mode; logging in and editing are no longer possible. All data has been migrated to the new version of H2O; if you haven't already been contacted regarding your data move or are interested in building or using a casebook on H2O, please contact Brett at <a href="mailto:h2o@cyber.law.harvard.edu">h2o@cyber.law.harvard.edu</a></p>"
    </div>
<% end -%>
